
/*agradecimiento*/
.agradecimientod-content {
  h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #11ff00;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);

    animation: fadeInZoom 1s ease-out forwards;
  }

  img {
    display: block;
    margin: auto;
    width: 40%;
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    border: 10px solid #ca00c055;
  }

  p {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    font-size: 25px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(38, 0, 255, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px) {
    p {
      font-size: 42px;
      padding: 30px;
    }
  }
}
