/* .contenedor-total */
.contenedor-total {
    text-align: center; 
    margin: 40px auto 20px;
  }
  
  /* .container-form */
  .container-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    padding-top: 234px;
    background-color: #ffc0cb;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0 auto; 
    /* Resto de tus estilos... */
  
    /* .info-form */
    .info-form {
      flex: 0 0 45%;
      padding: 20px;
      background-color: #f1f1f1;
      border-radius: 10px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center; 
      }
  
      p {
        margin-bottom: 20px;
      }
  
      a {
        display: block;
        margin-bottom: 10px;
        color: #333;
        text-decoration: none;
      }
  
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid #4c0068;
        border-radius: 10px;
        box-sizing: border-box;
      }
    }
  
    /* .form-action */
    .form-action {
      flex: 0 0 50%;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
  
      .campo,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid #4c0068;
        border-radius: 10px;
        box-sizing: border-box;
      }
  
      .btn-enviar {
        background-color: #8b4caf;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
  
        &:hover {
          background-color: #c1880e;
        }
      }
    }
  }
  

  @media (max-width: 768px) {
    .container-form {
      flex-direction: column;
      max-width: 100%;
    }
  
    .info-form,
    .form-action {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  /* .carousel */
  .carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
    margin: 0 auto; 
  }
  