.footer {
    background-color: rgb(78, 1, 50);
    color: white;
    text-align: center;
    padding: 18px;

    @media (max-width: 768px) {
        font-size: 15px; 
        padding: 1px; 
    }

    p {
        margin: 0;
    }

    a {
        color: white;
        text-decoration: none;
    }
}
