header {
    background-color: #a73285;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;

    img {
        width: 50px; 
        margin-right: 10px;
    }
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;
        }

        .nav-link {
            text-decoration: none;
            color: #65003e; 
            font-weight: bold;
            transition: color 0.3s ease;

            &:hover {
                color: #ffd000;
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    .logo img {
        width: 40px; 
        margin-right: 5px;
    }

    h2 {
        font-size: 1.2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;

        li {
            margin: 10px 0;
        }
    }
}
